project:
  type: website

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - publications.qmd

format:
  html:
    theme:
      - sandstone
      - brand
    css: styles.css
    toc: true
    fontawesome: true

editor: visual

