project:
  type: website

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - projects.qmd
      - publications.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    fontawesome: true
    

editor: visual

